.mobile-jumbotron {
    height: 65%;
    padding: 0.5em 0.5em;
    background: url(../img/jumbotron.png) no-repeat; 
    background-position:center;
    background-size: cover;
    position: relative;
    z-index: 0;
    margin-bottom: 3em;
}

.people-heading {
    color: #6F6F6F;      
    font-size: 2em;
    font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.about-the-people {
    max-width: 100%;

}

.about-the-people-text {
color: #6F6F6F;
font-size: 1.2rem;
font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
line-height: 1.3rem;
}

.people-subheading {
    color: #B51E3F;       
    font-size: 1.2em;
    font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
    margin: 0% 0% 5% 0%;
}

br {
    display: block;
    margin: 5px 0;
 }

#people {
    margin: 10% auto !important;
    max-width: 90%; 
}

#our-team {
    margin: 0 auto !important;
    max-width: 80%; 
}

div > .card {
    border-radius: 10%;
    box-shadow: 2px 5px 2px 0px #bababa;
}

.row > .profile-holder {
    margin: 0em 0em 3.5em 0em;
}

.card > div {
    border-radius: 10% 10% 0 0; 
}

.card > div > img {
    transition: all .5s ease-in-out;    
} 

.card > div > img:hover {
    transform: scale(1.1);
} 

.card-block > p {
    margin: 0;
    color: #6F6F6F;
}

.card-block > p:nth-child(odd) {
font-size: 1em;

}

.card-block > p:nth-child(even) {
    font-style: italic;
    font-size: 0.8em;
    }

.card-block > img {
    float: right;
}

.footer {
    margin-top: 10%;
}