      
         .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
          }

     html, body {
     height: 100%;
     font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
    }

    .mobile-header, .mobile_menu, .mobile-jumbotron {
        display : none;
    }

    @keyframes remove_greyscale {
        10%   { filter: grayscale(90%); }
        20%   { filter: grayscale(80%); }
        30%   { filter: grayscale(70%); }
        40%   { filter: grayscale(60%); }
        50%   { filter: grayscale(50%); }
        60%   { filter: grayscale(40%); }
        70%   { filter: grayscale(30%); }
        80%   { filter: grayscale(20%); }
        90%   { filter: grayscale(10%); }
        100%  { filter: grayscale(0%);  }
    }

    @keyframes appear {

            10% {opacity: 0.1; top : 4%;}
            20% {opacity: 0.2; top : 8%;}
            30% {opacity: 0.3; top : 12%;}
            40% {opacity: 0.4; top : 16%;}
            50% {opacity: 0.5; top : 20%;}
            60% {opacity: 0.6; top : 24%;}
            70% {opacity: 0.7; top : 28%;}
            80% {opacity: 0.8; top : 32%;}
            90% {opacity: 0.9; top : 36%;}
            100% {opacity: 1;  top : 40%;}
        }
    
    * {
        margin : 0px;
        padding : 0px;
    }

    #small-logo {
        display : none;
    }

    #app {
        height: 100%;
    }
    
    .jumbotron {
        font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
        height: 100%;
        padding: 0.5em 3em;
        background: url(../img/Jumbotron_image.jpg) no-repeat; 
        background-position:center;
        background-size: cover;
        position: relative;
        z-index: 5;
        margin-bottom: 3em;
    }

    .oner{
        padding: 2.4em 0 0 0;
    }

    .bar{
        background: transparent;  
        padding: 1.2em 0em 1.5em 0;  
        position: fixed;
        width: 100%;  
        z-index: 10;
        top: 0px;
        left: 0px;
        clear: both; 
        transition: background 1s ease-in;
    }

    .car{
        background: white;
        padding: 1.2em 0em 1.5em 0;    
        position: fixed;
        width: 100%;  
        border-bottom: 1px solid #A5A5A5;              
        z-index: 10;            
        top: 0px;
        left: 0px;   
        clear: both;             
        transition: background 1s, border-bottom 1s ease-in-out;
    }

    .header {
        margin-top: 2em;
        font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
    }

    .header > #bar > img {
       float: left; 
       margin-left: 5em;      
    }

    .header > #bar > nav > ul {
       list-style-type: none;
       margin-right: 5em;
    }

    .header > #bar > nav > ul > li {
       float: right;
    }

    .header > #bar > nav > ul > li > a {
       padding: 0em 0.7em;
       color: #E0E0E0;
       font-size: 0.85em;
    }

    .header > #overlay_text {
        font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
        width: 100%;
        margin: 0 auto;
        color: white;
        position: absolute;
        text-align: center;
        opacity: 0.0;
        animation-name: appear;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
     }
    
     .header > #overlay_text > h2 {
        font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
        font-size: 2.3em;
        font-weight: bold;

     }

     .header > #overlay_text > h4 {
        font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
        font-size: 1.8em;            
     }

    #overlay {
        position: absolute;
        background: rgba(181, 30, 63,.3);            
        top : 0px;
        left: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
    }

    #services {
        font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
        padding: 3.5em 1.5em;
        margin-bottom: 1.5em;           
    }
    
    #latest-projects{
        font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
        padding: 0 1.5em 3.5em 1.5em;           
   }

   #clients {
    padding: 0 3em 3.5em 3em;            
}

   .heading {
       padding: 0.5em 0;
       font-weight: bold;
       font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
   }

   .img-responsive {
       display: block;
       margin: 0 auto 0 auto;
   }

     .project-heading {
           color: #A5A5A5;
           font-weight: bold;        
           font-size: 1.25em;
           font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
       }

       .client-heading {
        color: #6F6F6F;
        font-size: 1.25em;
        font-weight: bold;   
        padding-bottom: 3em;
        font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;       
       } 
       
       .brand-heading {
        color: #B51E3F;
        font-size: 1.25em;
        font-weight: bolder;
        padding: 0.5em 0 0.5em 0;
        font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
       } 

   .first_board:nth-child(even) {
        height :15em;
        background: #A5A5A5;
   }

    .first_board:nth-child(odd) {
        height :15em;
        background: #C0BEBF
   }

    .second_board:nth-child(even) {
        height :15em;
        background: #C0BEBF;
   }

    .second_board:nth-child(odd) {
        height :15em;
        background: #A5A5A5;
   }

   #clients > .row > .logo > img{
    cursor: pointer;
    filter: grayscale(100%);
    display: block;
    margin: 0 auto;
   }

   .search-div {
    background-color: #EBEBEB;
    padding: 3em;
    font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
  }

.mail-form {
    margin: 0 auto;
    float: none;
  }

.mail-button {
    background: #B51E3F;
    color: #E0E0E0;
    cursor:pointer;
  }

.mail-input {
    margin-right: 2em;
  }

  .footer {
    height: 12em;
    background: #B51E3F;
    position: relative
  }

   .footer-nav {
    width: 100%;
    position: absolute;
    top : 25%;
    left: 0;
    font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
    }

    .footer-nav > #pro {
        float: left; 
        margin-left: 2.5em; 
        padding: 0.5em;     
     }

     #pro > img {
        padding: 0 0 0.6em 0;
     }

     #pro > p {
        color : #E0E0E0;
        margin-bottom: 0px;
        font-size: 0.85em;                   
     }

    .footer-nav > #qro > nav > ul {
       list-style-type: none;
       margin-right: 5em;
    }

    .footer-nav > #qro {
        float: right;             
    }

    .footer-nav > #qro > nav > ul > li {
       float: right;
    }

    .footer-nav > #qro > nav > ul > li > a {
       padding: 0em 0.7em;
       color : #E0E0E0;
       font-size: 0.85em;                  
    }
    .footer-nav > #qro > .icons {
        float: right;
        padding: 2.5em 6em 0 4em;
    }

    .fa-2x {
        padding: 0em 0.25em 0.25em 0.25em;
        opacity: 0.7;
    }

    .mobile-header{
        background: #B51E3F;
        padding: 1.5em;
      }
    
     .mobile-header > span {
        float: right;
     }
      
      .mobile_menu{
        display : none;
        z-index: 1000000;
        font-weight: bold; 
        font-size: 1em; 
        width: 100%; 
        background: #B51E3F; 
      }
    
    .mobile_menu ul {
       margin: 0;
       padding: 0; 
       list-style-type: none;
       list-style-image: none;
      }
    
    .mobile_menu li {
        display: block;
        padding:15px 0 15px 0;
        border-bottom:#dddddd 1px solid;
        }
    
    .mobile_menu li:hover{
        display: block;
        background:#ffffff; 
        padding:15px 0 15px 0; 
        border-bottom:#dddddd 1px solid;
      }  
    
    .mobile_menu ul li a {
         text-decoration:none;
         margin: 0px;
         color:#666;
      }
    
    .mobile_menu ul li a:hover {
          color: #666;
           text-decoration:none;
          }
          
    .mobile_menu a{
        text-decoration:none;
        color:#666;
      }
    
    .mobile_menu a:hover{
      text-decoration:none; 
      color:#666;
      }
