* {
    margin : 0px;
    padding : 0px;
}

html, body {
    height: 100%;
    font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
   }
   
   
 @keyframes remove_greyscale {
       10%   { filter: grayscale(90%); }
       20%   { filter: grayscale(80%); }
       30%   { filter: grayscale(70%); }
       40%   { filter: grayscale(60%); }
       50%   { filter: grayscale(50%); }
       60%   { filter: grayscale(40%); }
       70%   { filter: grayscale(30%); }
       80%   { filter: grayscale(20%); }
       90%   { filter: grayscale(10%); }
       100%  { filter: grayscale(0%);  }
   }
   
@keyframes come {
    10%   { right : 90%; opacity: 0.1; }
    20%   { right : 80%; opacity: 0.2; }
    30%   { right : 70%; opacity: 0.3; }
    40%   { right : 60%; opacity: 0.4; }
    50%   { right : 50%; opacity: 0.5; }
    60%   { right : 40%; opacity: 0.6; }
    70%   { right : 30%; opacity: 0.7; }
    80%   { right : 20%; opacity: 0.8; }
    90%   { right : 10%; opacity: 0.9; }
    100%  { right : 0%;  opacity: 1;  }
}

@keyframes go {
  1%    { right : 1%; opacity: 1; }
  2%    { right : 2%; opacity: 1; }
  3%    { right : 3%; opacity: 1; }
  4%    { right : 4%; opacity: 1; }
  5%    { right : 5%; opacity: 1; }
  6%    { right : 6%; opacity: 1; }
  7%    { right : 7%; opacity: 1; }
  8%    { right : 8%; opacity: 1; }
  9%    { right : 9%; opacity: 1; }
  10%   { right : 10%; opacity: 0.9; }
  20%   { right : 20%; opacity: 0.8; }
  30%   { right : 30%; opacity: 0.7; }
  40%   { right : 40%; opacity: 0.6; }
  50%   { right : 50%; opacity: 0.5; }
  60%   { right : 60%; opacity: 0.4; }
  70%   { right : 70%; opacity: 0.3; }
  80%   { right : 80%; opacity: 0.2; }
  90%   { right : 90%; opacity: 0.1; }
  100%  { right : 100%; opacity: 0;  }
}

@keyframes appear {

            10% {opacity: 0.1; top : 5%;}
            20% {opacity: 0.2; top : 10%;}
            30% {opacity: 0.3; top : 15%;}
            40% {opacity: 0.4; top : 20%;}
            50% {opacity: 0.5; top : 25%;}
            60% {opacity: 0.6; top : 30%;}
            70% {opacity: 0.7; top : 35%;}
            80% {opacity: 0.8; top : 40%;}
            90% {opacity: 0.9; top : 45%;}
            100% {opacity: 1;  top : 50%;}
        }

        #big-logo {
            display : none;
        }

  .mobile-header{
    background: #B51E3F;
    padding: 2em 3.5em;
    font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 0.85em; 
  }

 .mobile-header > span {
    float: right;
    padding: 0.5em 0.8em;
 }
  
  .mobile_menu{   
    font-size: 0.85em;      
    position: absolute;
    right: 100%;
    z-index: 1000000;
    font-weight: bold;    
    width: 100%; 
    background: #B51E3F; 
  }

.mobile_menu ul {
   margin: 0;
   padding: 0; 
   list-style-type: none;
   list-style-image: none;
  }

  .row > .image > a > .digital {
    width: 100%;
    height: 150px;
}

.row > .image > a:hover {
    text-decoration: none;
}

.row > .image > a {
    color: #292b2c;
}

.row > .image > a >  .digital > img {
    width: inherit;
    height: inherit;
}

.row > .image > a > .design {
    width: 100%; 
    height: 150px;
    padding-top: 40px;
}

.row > .image > a > .design > img {
    width: 100%; 
    height: 110px;
}

.row > .image > a > .public {
    width: 100%;
    height: 150px;
    padding-top: 40px;
}

.row > .image > a > .public > img {
    width: 70%;
    height: 110px; 
    display: block; 
    margin: 0 auto;
}

.row > .image > a > .strategy {
    width: 100%;
    height: 150px; 
    padding-top: 40px;
}

.row > .image > a > .strategy > img {
    width: 70%; 
    height: 110px;
}


.mobile_menu li {
    display: block;
    padding: 0.3em 0 0.3em 0;
    }

.mobile_menu li:hover{
    display: block;
    background:#000; 
    padding: 0.3em 0 0.3em 0; 
  }  

.mobile_menu ul li a {
     text-decoration:none;
     margin: 0px;
     color: #E0E0E0;
     font-size: 0.85em;
  }

  form {
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
}

.mobile_menu ul li a:hover {
      color: #E0E0E0;
       text-decoration:none;
       font-size: 0.85em;
      }
      
.mobile_menu a{
    text-decoration:none;
    color:#E0E0E0;    
    font-size: 0.85em;
  }

.mobile_menu a:hover{
  text-decoration:none; 
  color:#000;
  font-size: 0.85em;
  }

.jumbotron {
    display : none;
   }

.hamburger {
     cursor: pointer;
   }

#app {
    height: 100%;
}

.mobile-jumbotron {
    height: 65%;
    padding: 0.5em 3em;
    background: url(../img/Jumbotron_image.jpg) no-repeat; 
    background-position:center;
    background-size: cover;
    position: relative;
    z-index: 0;
    margin-bottom: 3em;
}

.oner{
    padding: 2.4em 0 0 0;
}

.tower{
    padding: 4em 0 0 0;
}

.header {
    margin-top: 2em;
    font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.img-responsive {
    height: 10em;
    width: 14em;
}

.header > #overlay_text {
    width: 100%;
    margin: 0 auto;
    color: white;
    position: absolute;
    text-align: center;
    opacity: 0.0;
    animation-name: appear;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
 }

 .header > #overlay_text > h2 {
    font-size: 2.2em;
    font-weight: bold; 
    font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
 }

 .header > #overlay_text > h4 {
    font-size: 2.2em;    
    font-weight: bold;        
    font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
 }

#overlay {
    position: absolute;
    background: rgba(181, 30, 63,.3);            
    top : 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#services {
    max-width: 80%;
    margin: 5% auto; 
}

.text-justify {
    padding: 0px 15px;    
    margin: 1.5em 0em 4em 0em;    
}

#latest-projects{
 max-width: 80%;
}

#clients {
    max-width: 80%;
    margin: 5% auto;
    font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.heading {
   padding: 0.5em 0;
   font-weight: bolder;
}

.img-responsive {
   display: block;
   margin: 0 auto 0 auto;
}

.project-heading {
   color: #6F6F6F;
   font-weight: bold;        
   font-size: 1em;
}

.client-heading {
color: #6F6F6F;
font-size: 1em;
font-weight: bold;        
} 

.brand-heading {
color: #B51E3F;
font-size: 1em;
font-weight: bolder;
padding: 0.5em 0 0.5em 0;
} 

.board {
    width: 100%;
    height: 200px;
    margin: 5% auto;
   }

   .board > img {
       width: inherit;
       height: inherit;
   }

.logo {
    width: 90%;
    padding: 5% 5%;
    height: 80px;;
    margin: 5% auto;
}

.logo > img {
    width: inherit;
    height: inherit;
    cursor: pointer;
    filter: grayscale(100%);
}

.search-div {
 font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
background-color: #EBEBEB;
padding: 3em;
}

.mail-form {
margin: 0 auto;
float: none;
}

.mail-button {
background: #B51E3F;
color: #E0E0E0;
cursor:pointer;
}

.mail-input {
margin-right: 2em;
}

.footer {
font-family:  "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
height: 12em;
background: #B51E3F;
position: relative;
}

.footer-nav {
width: 100%;
position: absolute;
top : 25%;
left: 0;
}

.footer-nav > #pro {
    float: left; 
    margin-left: 2.5em; 
    padding: 0.5em;     
 }

 #pro > img {
    padding: 0 0 0.6em 0;
 }

 #pro > p, small {
    color: #E0E0E0;
    margin-bottom: 0px;
    font-size: 0.85em;
 }

.footer-nav > #qro > nav > ul {
   list-style-type: none;
   margin-right: 2.5em;
   display: none;
}

.footer-nav > #qro {
    float: right;             
}

.footer-nav > #qro > nav > ul > li {
   float: right;
   display: none;
}

.footer-nav > #qro > nav > ul > li > a {
   padding: 0em 1.5em;
   color: #E0E0E0;
   display: none;
   font-size: 0.85em;
}

.footer-nav > #qro > .icons {
    position: absolute;
    top : 20%;
    left: 70%;
}

.fa-2x {
    padding: 0em 0.25em 0.25em 0.25em;
    opacity: 0.7;
}
